.container {
    max-width: 80%;
    width: 1060px;
    margin: 0 auto;
    text-align: center;
}

figure {
    margin: 0 auto;
}

figure img {
    width: 100%;
    height: auto;
}

.slider1 {
    display: flex;
    justify-content: space-between;
}

.slider2 {
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.slider2 figure {
    padding: 10px;
}

.prev-btn {
    position: absolute;
    height: 80px;
    line-height: 80px;
    width: 80px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    top: 50%;
    z-index: 99;
    left: 0;
}

.next-btn {
    position: absolute;
    height: 80px;
    line-height: 80px;
    width: 80px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    top: 50%;
    right: 0;
}

.prev-btn:hover {
    background-color: #183619;
}

.next-btn:hover {
    background-color: #183619;
}